body {
    margin: 0;
    font-family: "Poppins", sans-serif;
    background-color: white;
    color: black;
}

#content {
    max-width: 1100px;
    margin: 0 auto;
    padding: 10px;
    box-sizing: border-box;
}

/* HEADER */

.top-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #e6e6e6;
    border: 1px solid #888;
    padding: 12px 20px;
}

.logo-box {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    border: 1px solid #888;
    width: 70px;
    height: 50px;
    flex-shrink: 0;
}

.logo {
    width: 30px;
    height: auto;
}

nav {
    display: flex;
    align-items: center;
    gap: 40px;
}

nav a {
    text-decoration: underline;
    color: blue;
    font-family: "Poppins", sans-serif;
}

nav a:hover {
    color: darkblue;
}


/* Body */
h1 {
    text-align: center;
    margin-top: 50px;
    color: black;
    font-size: 36px;
    font-weight: bold;
    text-decoration: underline;
}

#info {
    display: grid;
    grid-template-columns:90px 135px 1fr;
    border: #000000 solid 2.5px;
    width: 90%;
    height: 1000px;
    margin: 0 auto;
    margin-top: 50px;
    border-radius: 5px;
}

.classes {
    display: grid;
    display: flex;
    flex-direction: column;
    grid-template-rows: 20px 20px 20px 20px 20px 20px 1fr;
    border-right: #888 solid 3px;
}

.class {
    padding: 15px;
    text-align: center;
}

.links {
    display: flex;
    flex-direction: column;
    grid-template-rows: 20px 20px 20px 20px 1fr;
    gap: 50px;
    border-right: #888 solid 3px;
}

.class:hover {
    background: #c5c1c1;
}

.note1 {
    padding: 25px 60px 25px 60px;
    text-align: left;
    font-size: 17px;
}

.note2 {
    padding: 55px 60px 35px 60px;
    text-align: left;
    font-size: 17px;
}

.note3 {
    padding: 35px 60px 30px 60px;
    text-align: left;
    font-size: 17px;
}

/* Footer */

footer {
    margin-top: 50px;
    border: 1px solid #888;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    padding: 15px;
    background-color: white;
    box-sizing: border-box;
}

.footer-logo {
    display: flex;
    align-items: center;
    gap: 20px;
}

.footer-logo-img {
    width: 30px;
    height: auto;
}

.footer-text {
    font-weight: bold;
    color: black;
    white-space: nowrap;
}

.social-links {
    display: flex;
    justify-content: flex-end;
    gap: 15px;
}

.social-links a {
    color: blue;
    text-decoration: underline;
}

.social-links a:hover {
    color: darkblue;
}